*{
   padding: 0;
   margin: 0;
   font-size: 16px;
}

/* Styles de base pour la barre de navigation */
.header {
    display: flex;
  }
  
  .navBar {
    margin: 10px;
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    background-color: white;
    color: #000000;
    display: flex;
  }
  
  /* Styles pour les écrans plus grands (par défaut) */
  .logo {
    width: 15.8125rem;
    height: 4.875rem;
    position: relative;
  }
  
  .logoImg {
    width: 4.625rem;
    height: 4.875rem;
    left: 0;
    top: 0;
    position: absolute;
    border-radius: 77px;
  }
  
  .jeppeySign {
    width: 10.5rem;
    height: 2.4375rem;
    left: 85px;
    top: 18px;
    position: absolute;
    color: black;
    font-size: 40px;
    font-family: Istok Web;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .navBarButton {
    width: 622px;
    height: 34px;
    top: 20px;
    position: relative;
  }
  
  .search {
    width: 177px;
    height: 28px;
    left: 50px;
    top: 10px;
    position: relative;
  }
  
  .search a {
    text-decoration: none;
    color: inherit;
  }
  
  .search p {
    width: 137px;
    height: 28px;
    left: 40px;
    top: 5px;
    position: relative;
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 200;
    word-wrap: break-word;
  }
  
  .publish {
    width: 211px;
    height: 34px;
    left: 233px;
    top: 10px;
    position: absolute;
  }
  .publish p{
    left: 40px;
  }
  .postARide {
    width: 165px;
    height: 28px;
    left: 46px;
    top: 20px;
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: Inter;
    font-weight: 200;
    word-wrap: break-word;
  }
  .postARide{
    top: 5px;
  }
  .profil-picture {
    width: 49px;
    height: 31px;
    left: 560px;
    margin-left: 0px;
    top: 10px;
    position: absolute;
  }
  
  /* Styles pour les écrans plus petits (ajoutez vos propres valeurs) */
  @media screen and (max-width: 650px) {
    .navBar {
      height: 60px; /* Ajustez la hauteur pour les écrans plus petits */
    }
    .navBar p{
      display: none;
      width: auto;
    }
    .jeppeySign{
        display: none;
    }
  }
  